{% extends "layout.njk" %}

{% block head %}

        <title>Foodfy</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% block content %}

    <div class="banner">
        <div class="assunto">
            <p class="titulo">As melhores receitas</p>
            <p class="texto">Aprenda a cozinhar os melhores pratos com receitas criadas por profissionais do mundo
                inteiro.</p>
        </div>
        <div class="imagem">
            <img src="/public/image/chef.png" alt="Chef Foodfy">
        </div>
    </div>
    <div class="content">
        <p class="titulo02">Mais acessadas</p>
    </div>

    <div class="cards">

        {% for item of items %}

        <div class="card" id="{{item.id}}">
            <div class="card__image-conteiner">
                <img src="/public/image/burger.png" alt="Mais acessadas">
            </div>
            <div class="card__content">
                <P>{{item.title}}</P>
            </div>
            <div class="card__info">
                <P>{{item.autor}}</P>
            </div>
        </div>

        {% endfor %}

        {# <div class="card" id="02">
            <div class="card__image-conteiner">
                <img src="/public/image/pizza.png" alt="Mais acessadas">
            </div>
            <div class="card__content">
                <P>Pizza 4 estações</P>
            </div>
            <div class="card__info">
                <P>por Fabiana Melo</P>
            </div>
        </div>

        <div class="card" id="03">
            <div class="card__image-conteiner">
                <img src="/public/image/espaguete.png" alt="Mais acessadas">
            </div>
            <div class="card__content">
                <P>Espaguete ao alho</P>
            </div>
            <div class="card__info">
                <P>por Júlia Kinoto</P>
            </div>
        </div>

        <div class="card" id="04">
            <div class="card__image-conteiner">
                <img src="/public/image/lasanha.png" alt="Mais acessadas">
            </div>
            <div class="card__content">
                <P>Lasanha mac n’cheese</P>
            </div>
            <div class="card__info">
                <p>por Juliano Vieira</p>
            </div>
        </div>

        <div class="card" id="05">
            <div class="card__image-conteiner">
                <img src="/public/image/doce.png" alt="Mais acessadas">
            </div>
            <div class="card__content">
                <P>Docinhos pão-do-céu</P>
            </div>
            <div class="card__info">
                <p>por Ricardo Golvea</p>
            </div>
        </div>

        <div class="card" id="06">
            <div class="card__image-conteiner">
                <img src="/public/image/asinhas.png" alt="Mais acessadas">
            </div>
            <div class="card__content">
                <P>Asinhas de frango ao barbecue</P>
            </div>
            <div class="card__info">
                <P>por Vania Steroski</P>
            </div>
        </div> #}

    </div>

    <div class="footer">
        <p>Todos direitos reservados, receitas Foodfy.</p>
    </div>

{% endblock %}